
body {
  display: flex;
  flex-direction: column;
  background-color: #313a48;
}


#frame {
  display: block;
  margin: 30px auto;
  border: 3px solid #f4dbbf;
  border-radius: 20px;
  padding: 0px 20px 30px 20px;

  font-family: sans-serif;
}

#pad {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.3em;
}


#display {
  grid-column: 1/5;
  border-radius: 10px;
  height: 100px;
  color: #f4dbbf;

}

#full-display {
  height: 40px;
  margin-top: 30px;

  font-size: 2em;
  text-align: left;
  margin-left: 20px;
  /* background-color: green; */
}

#current-display {
  height: 70px;
  margin-top: 0px;
  font-size: 3em;
  text-align: right;
  margin-right: 20px;

  overflow-x: hidden;
  /* background-color:  red;  #929fa2 #d39477 #929fa2 */
}


button {
  background-color: #f4dbbf;
  border: none;
  border-radius: 40px;
  font-size: 2em;
  color: #313a48;

}

button:hover {
  opacity: 0.8;
  transition: opacity 0.8s linear;
}

#equals {
  grid-column: 1/5;
}

#equals, #clear {
  color: #f4dbbf;
  background-color: #313a48;
  border: 2px #f4dbbf solid;
}

#equals:hover, #clear:hover {
  opacity: 1;
  background-color: #d39477;
  transition: background-color 0.3s linear;
}

#divide, #multiply, #add, #substract  {
  background-color: #d39477;
}

#pad button:focus {
  outline:0; /* avoids blue shadow when clicking on button */
}
